h1, h2 {
    color: #7fff00;
    text-align: center;
    text-shadow: 2px 2px 5px #46800c;
}

h3 {
    color: coral
}

body {
    background-image: url(image/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.square {
    width: 1000px;
    height: 500px;
    background: linear-gradient(to left,rgb(171, 171, 219), white);
    background-color: rgb(171, 171, 219);
    margin: auto;
}


.borderImg {
    border: 10px dashed red;
    width: 150px;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
}