<!DOCTYPE html>
<html>
    <head>
        <title>Peas in a Book Pod</title>
        <link rel="stylesheet" href="app.component.css">
    </head>
    <body>
        <!-- <script type="text/javascript">
            var name = 'Jack';
            var age = 23;

            alert(name);

            consol.log(name); //ctrl alt j to see inspector tool
        
        
        </script> -->
        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_883231284_200013331818843182490_335833.jpg"
            alt="Stack of books" height="100" width="100">
        <h1>Become a Reading Pea in a Book Pod today!</h1>
        <table cellspacing="10">
            <tr>
                <td><a href="#">Home</a></td>
                <td><a href="#">About</a></td>
                <td><a href="#">Contact</a></td>
            </tr>
        </table>

        <div> 
            <img src="image/book.jpg" class="borderImg">
        </div>

        <hr>
        <div class="square">
            <h2>What/Who is a Reading Pea?</h2>
            <p>
                Are you stuck with Economist magazines, literary classics,
                or fantastic science fiction piled in your basement? 
                
                Are you stuck in quarantine 
                A Reading Pea is a advid reader who learned to appreciate
                the values, smell, and texture of physical books or someone
                who is stuck with too many collected over the years and want
                to share those knowledge!
            </p>

        <h2>Why not Library?</h2>
            <ol>
                <li>they are kind of not open right now???</li>
                <li>we have element of surprise</li>
                <li>connect with other people anonymously by reading their books</li>
            </ol>
        <h2>Why not digital?</h2>
            <p>Digital books are great! They are good for the environment and easy to carry.
                But there are still existing books circulating in the world improperly recycled,
                crowding your shelf. There are also people not ready to give up physical books yet
                and buying many more, contributing a market demand on physical books still!

                (think portugal)
            </p>
        </div>
        
    

            <iframe width="700" height="394" src="https://www.youtube.com/embed/xcgW3s-NBBI" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
                    gyroscope; picture-in-picture" allowfullscreen></iframe>
        
            <h2>Contact us</h2>
            <form>
                Name: <br>
                <input type="text"><br><br>
                Email: <br>
                <input type="text"><br><br>
                <input type="submit" value="SUBMIT">
            </form>
    </body>
</html>
